services:
  - type: web
    name: sabg-sistema-formacion
    runtime: node
    plan: free
    region: oregon
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 24.12.0
      - key: DATABASE_URL
        sync: false
